run = "php -S 0.0.0.0:8000 -t ."
modules = ["php-8.2", "nodejs-20", "web", "cpp-clang14"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
